{% extends 'shopping/base.html'%}



{%block title%}
Create Product
{%endblock%}
<!-- {%block styling%}

{%load static%}
<link rel="stylesheet" href="{% static 'shopping/createProduct.css' %}">

{%endblock%} -->

{%block content%}
<div class="productCreate  d-flex justify-content-center align-items-center min-vh-100">
    <div class="d-flex">
        <div class="formed d-flex flex-column m-4">
            <h2>Add Product</h2>
            <form action="" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }} 
                    {% if form.name.errors %}
                        <div class="text-danger">{{ form.name.errors }}</div>
                    {% endif %}
                    <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    {{ form.price }} 
                    {% if form.price.errors %}
                        <div class="text-danger">{{ form.price.errors }}</div>
                    {% endif %}
                    <label for="{{ form.desc.id_for_label }}">{{ form.desc.label }}</label>
                    {{ form.desc }} 
                    {% if form.desc.errors %}
                        <div class="text-danger">{{ form.desc.errors }}</div>
                    {% endif %}
                    <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
                    {{ form.quantity }} 
                    {% if form.quantity.errors %}
                        <div class="text-danger">{{ form.quantity.errors }}</div>
                    {% endif %}
                </div>
                <div class="w-50 text-center">
                    <button type="submit" class="btn btn-success mt-4 w-100">Add</button>
                </div>
            </form>
        </div>
        <div class="addCard formed d-flex flex-column ml-6">
            <div class="card ml-6" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
</div>
{%endblock%}