{% extends 'shopping/base.html' %}


{%block title%}
Login
{%endblock%}
{%block styling%}

{%load static%}
<link rel="stylesheet" href="{% static 'shopping/signUp.css' %}">

{%endblock%}


{% block content %}
<div class="login d-flex justify-content-center align-items-center min-vh-100">
    <div class="formed d-flex flex-column">
        <h2 class="text-center mb-4">Sign Up</h2>
        <form action="" method="post" class="forms">
            {%csrf_token%}
            <div class="form-group mb-4">
                <label for="exampleInputEmail1" >Username</label>
                <input class="form-control" type="text" name="username">
            </div>
            <div class="form-group mb-4">
                <label for="exampleInputEmail1">Email</label>
                <input class="form-control" id="exampleInputEmail1" type="text" name="email">
            </div>
            <div class="form-group mb-4">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="buttons text-center">
                <button type="submit" class="btn btn-success w-50">Sign Up</button>
            </div>
            
        </form>
    </div>
</div>
{%endblock%}